.profile {
    padding: 15px;
}
.me {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 10px;
}
.me__img {
    width: 100%;
    border-radius: 10px;
}
.me__text {
}
.posts {
    margin: 30px auto auto 30px;
}
.post__text {
}
.posts__btn {
}
.post {
    padding: 30px 0 30px 0;
}
.post__img {
    width: 60px;
    margin-right: 10px;
    border-radius: 30px;
}
