*{}

body{
  background: #97a3d9;
  color: white;
  padding: 20px;
}
.wrapper{
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  'h h'
  'n p'
  ;
}

.wrapper > div{
  background: #464f79;
  border-radius: 10px;
}

.header{
  grid-area: h;

}
.navbar{
  grid-area: n;
}
.profile{
  grid-area: p;
}